@page
@model CreateModel
@{
    ViewData["Title"] = "Create new article";
}
<article>
<h1 class="title">Create new article</h1>
</article>
<p></p>
<form method="post">
<input asp-for="ArticleTitle" />
<textarea asp-for="ArticleText" style="height: auto;" cols="50" rows="30"></textarea>

<input type="submit" />
</form>

