@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FirehoseModel
@{
	ViewData["Title"] = "Revision history:" + Model.ArticleTitle;
}

<h1>Firehose</h1>
<p></p>

<table class="table">
	<thead>
		<tr><th>Title</th><th>Slug</th><th>Created</th></tr>
	</thead>
	<tbody>
		@if (Model.ArticleRevisions != null)
		{
			foreach (var ArticleRevision in Model.ArticleRevisions)
			{
				<tr>
					<td><a href="/@ArticleRevision.UrlSlug/revision/@ArticleRevision.Id">@ArticleRevision.Title</a></td>
					<td>@ArticleRevision.UrlSlug</td>
					<td>@ArticleRevision.DateCreated</td>
					<td>
						<form method="post" asp-page-handler="Delete" asp-route-Id=@ArticleRevision.Id>
							<input type="submit" value="Delete" />
						</form>
					</td>
				</tr>
			}
		}
	</tbody>
</table>
