@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FirehoseModel
@{
	ViewData["Title"] = "Revision history:" + Model.ArticleTitle;
}
<article>
<h1>Firehose: Latest Revisions</h1>
<p></p>
</article>
<table class="table">
	<thead>
		<tr><th>Title</th><th>Revision Reason</th><th>Created</th></tr>
	</thead>
	<tbody>
		@if (Model.ArticleRevisions != null)
		{
			foreach (var ArticleRevision in Model.ArticleRevisions)
			{
				<tr>
					<td><a href="/@ArticleRevision.UrlSlug/revision/@ArticleRevision.Id">@ArticleRevision.Title</a> (<a href="/@ArticleRevision.UrlSlug">current</a>)</td>
					<td>@ArticleRevision.RevisionReason</td>
					<td>@ArticleRevision.DateCreated</td>
					<td>
						<form method="post" asp-page-handler="Delete" asp-route-Id=@ArticleRevision.Id>
							<input type="submit" value="Delete" />
						</form>
					</td>
				</tr>
			}
		}
	</tbody>
</table>
