@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model HistoryModel
@{
	ViewData["Title"] = "Revision history: " + Model.ArticleTitle;
}

<h1>Revision history: @Model.ArticleTitle</h1>

<table class="table">
	<thead>
		<tr><th>When</th><th>Reason</th><th>Username</th></tr>
	</thead>
	<tbody>
		@if (Model.ArticleRevisions != null)
		{
			foreach (var ArticleRevision in Model.ArticleRevisions)
			{
				<tr>
					<td><a href="/@ArticleRevision.UrlSlug/revision/@ArticleRevision.Id">@ArticleRevision.DateCreated</a></td>
					<td>@ArticleRevision.RevisionReason</td>
					<td>
						<a href="/@@@ArticleRevision.CreatedByAspNetUsername">@ArticleRevision.CreatedByAspNetUsername</a>
					</td>
				</tr>
			}
		}
	</tbody>
</table>
