@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<article>
<h1>Manage your account</h1>
</article>
<div>
    <hr />
    <div class="row">
        <div class="col-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
<style>
    /* General Styles */
h2 {
    margin: 0;
    padding: 0 0 15px 0; /* Added padding at the bottom for spacing below the heading */
}

hr {
    margin: 10px 0;
    border-color: #ccc; /* Light grey color */
}

/* Flexbox Container for Row */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Allows the items to wrap to the next line if necessary */
}


.col-9 {
    flex: 1; /* Take up remaining space */
    margin-left: 5%;
    margin-top: .5rem;
}

</style>
