

.maglist
{

	padding: 0;
	list-style: none;

}

	.maglist li
	{

	}

.categories
{
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	colorf: #fff;
}

article
{
/*	font-family: PublicoText-Roman-Web, Georgia, Cambria, "Times New Roman", Times, serif;*/
}
