/*#region CSS Reset*/

/***
    The new CSS reset - version 1.11 (last updated 20.9.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
:where(abbr), :where(address), :where(area), :where(article), :where(aside), :where(audio), :where(b), :where(base), :where(bdi), :where(bdo), :where(big), :where(blockquote), :where(body), :where(br), :where(caption), :where(cite), :where(code), :where(col), :where(colgroup), :where(data), :where(datalist), :where(dd), :where(del), :where(details), :where(dfn), :where(dialog), :where(dl), :where(dt), :where(em), :where(embed), :where(fieldset), :where(figcaption), :where(figure), :where(footer), :where(form), :where(h1), :where(h2), :where(h3), :where(h4), :where(h5), :where(h6), :where(head), :where(header), :where(hgroup), :where(hr), :where(i), :where(input), :where(ins), :where(kbd), :where(keygen), :where(label), :where(legend), :where(li), :where(link), :where(main), :where(map), :where(mark), :where(menu), :where(menuitem), :where(meta), :where(meter), :where(nav), :where(object), :where(ol), :where(optgroup), :where(option), :where(output), :where(param), :where(picture), :where(pre), :where(progress), :where(q), :where(rp), :where(rt), :where(ruby), :where(s), :where(samp), :where(slot), :where(script), :where(section), :where(select), :where(small), :where(source), :where(strong), :where(style), :where(sub), :where(summary), :where(sup), :where(table), :where(template), :where(tbody), :where(td), :where(textarea), :where(tfoot), :where(th), :where(thead), :where(time), :where(title), :where(tr), :where(track), :where(u), :where(ul), :where(var), :where(wbr), :where(div), :where(span), :where(button), :where(a), :where(p)
{
	all: unset;
	display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after
{
	box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html
{
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a, button
{
	cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu
{
	list-style: none;
}

/* For images to not be able to exceed their container */
img
{
	max-inline-size: 100%;
	max-block-size: 100%;
}

/* removes spacing between cells in tables */
table
{
	border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea
{
	-webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea
{
	white-space: revert;
}

/* minimum style to allow to style meter element */
meter
{
	-webkit-appearance: revert;
	appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre)
{
	all: revert;
	box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder
{
	color: unset;
}

/* remove default dot (•) sign */
::marker
{
	content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden])
{
	display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"]))
{
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	overflow-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"])
{
	-webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal)
{
	all: revert;
	box-sizing: border-box;
}

/* https://github.com/elad2412/the-new-css-reset/issues/45 */
*
{
	min-width: 0;
}

/*#endregion CSS Reset*/

html
{
	font-size: 14px;
	font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.loggedin
{
	background-color: white;
}

.home
{
	padding-top: 3rem;
}

input, textarea
{
	border: solid 1px #000;
}

br
{
	margin-bottom: 1rem;
}

a
{
	color: blue;
	color: #0c0;
	text-decoration: underline;
	text-decoration-thickness: 0.125rem;
	text-underline-offset: 0.25rem;
}

h1
{
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 250%;
	font-weight: 800;
	letter-spacing: -0.05em;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191, 1px 18px 6px rgba(60,60,60,0.4), 1px 22px 10px rgba(60,60,60,0.2), 1px 25px 35px rgba(60,60,60,0.2), 1px 30px 60px rgba(60,60,60,0.4);
}

.download-button
{
	display: flex;
	align-items: center;
	fpadding: 1rem;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
	font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.icon-container,
.filetype-icon-container
{
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.download-icon
{
	width: 1rem;
	height: 1rem;
}

.text-container
{
	flex-grow: 1;
	margin-left: 1rem;
	margin-right: 1rem;
}

.download-text
{
	font-weight: bold;
}

.file-info
{
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
}

.filename,
.filesize
{
	font-size: 0.8rem;
}

.primary-indicator
{
	margin-left: 1rem;
	font-size: 0.8rem;
	font-weight: bold;
	background-color: #ffcc00;
	padding: 0.2rem 0.5rem;
	border-radius: 0.25rem;
	display: none;
	visibility: hidden;
}

article aside
{
	float: unset;
	width: unset;
	fpadding: 20px;
	background-color: #f9f9f9;
	border: 1px solid #aaa;
	border-radius: 4px;
	margin-left: 20px;
	margin-bottom: 1rem;
}

article aside, article p
{
	margin-right: 2rem;
}

article p, article h2, article h3, article h4, article h5, article h6, article ul
{
	margin-left: 2rem;
}

/* Clear the float for elements after the article */
article::after
{
	content: "";
	display: table;
	clear: both;
}

.container .image-container img
{
	border-radius: 15px;
	width: 100%;
	transition: transform 0.3s ease;
	ftransition: transform .4s cubic-bezier(.165,.84,.44,1);
	object-fit: cover;
	filter: grayscale(50%);
	ffilter: sepia(100%) hue-rotate(100deg) brightness(80%) saturate(420%);
}


.image-title
{
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	color: #ffffff;
	margin: 0;
	border: 0;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	font-size: 16px;
	text-align: center;
	fheight: 40px;
	fmargin-top: -3rem;
	border-radius: 15px;
	opacity: 0;
	transition: opacity 0.3s ease;
	text-transform: uppercase;
	font-family: system-ui, sans-serif;
	font-weight: bold;
}

.container .image-container .img-wrapper
{
	overflow: hidden;
	border-radius: 15px;
	position: relative;
	gap: 1rem;
	ccontent-visibility: auto;
}

.container .title
{
	font-size: 25px;
	background-color: #000;
	color: #fff;
	border-radius: 5px;
	margin-bottom: 10px;
	text-align: center;
	padding: 15px;
}

.container .image-container img:hover
{
	transform: scale(1.05);
	filter: none;
}

	.container .image-container img:hover + div.image-title
	{
		opacity: 1;
	}

@supports not (grid-template-rows: masonry)
{
	/* CSS rules to be applied if the browser does not support the masonry layout */

	.container .image-container
	{
		columns: 4 8rem;
		gap: 0.6rem;
	}

	.img-wrapper
	{
		position: relative;
		margin-bottom: 0.6rem;
	}
}


@supports (grid-template-rows: masonry)
{
	.img-wrapper
	{
		margin: 0;
		display: grid;
		grid-template-rows: 1fr auto;
	}

	.image-container
	{
		display: grid;
		gap: 10px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: masonry;
	}
}

.container
{
	margin: 0 5rem;
}


#dbhelper
{
	margin-top: 10rem;
}

	#dbhelper input, #dbhelper textarea
	{
		border: 1px solid #777;
	}

input[type="checkbox"]
{
	background-color: initial !important;
	cursor: default !important;
	appearance: auto !important;
}
/*@media screen and (prefers-color-scheme: dark)
html:not(.force-light-mode) */


article h1
{
	margin: 0 auto;
	text-align: center;
	font-size: 2rem;
	ffont-weight: bold;
	line-height: .9;
	color: #fbfbf8;
	bbackground: linear-gradient(to bottom, #0000, #000c), url(https://images.unsplash.com/photo-1500417148159-68083bd7333a) center center no-repeat;
	bbackground: linear-gradient(to bottom, #000c, #000c), url(/sitefiles/1/fruits.webp) center center no-repeat;
	background: linear-gradient(to bottom, #000c, #000c), url(/sitefiles/1/gqusa.webp) center center no-repeat;
	background: linear-gradient(to bottom, #000c, #000c), url(/sitefiles/1/gqstyletest1.jpg) center center no-repeat;
	bbackground: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.0) 15%, rgba(0,0,0,0.0) 80%, rgba(0,0,0,0.6) 100%), url(/sitefiles/1/gqusa.webp) center center no-repeat;
	background: linear-gradient(90deg, #ffffff 0, rgba(255,255,255,.986) 0.485%, rgba(255,255,255,.945) 1.03916667%, rgba(255,255,255,.883) 1.64833333%, rgba(255,255,255,.803) 2.30083333%, rgba(255,255,255,.711) 2.98333333%, rgba(255,255,255,.61) 3.6825%, rgba(255,255,255,.504) 4.38583333%, rgba(255,255,255,.398) 5.08%, rgba(255,255,255,.296) 5.7525%, rgba(255,255,255,.203) 6.39%, rgba(255,255,255,.122) 6.97916667%, rgba(255,255,255,.059) 7.50833333%, rgba(255,255,255,.016) 7.96416667%, rgba(255,255,255,0) 8.33333333%, rgba(255,255,255,0) 91.66666667%, rgba(255,255,255,.016) 92.03583334%, rgba(255,255,255,.059) 92.49166667%, rgba(255,255,255,.122) 93.02083334%, rgba(255,255,255,.203) 93.61%, rgba(255,255,255,.296) 94.2475%, rgba(255,255,255,.398) 94.92%, rgba(255,255,255,.504) 95.61416667%, rgba(255,255,255,.61) 96.3175%, rgba(255,255,255,.711) 97.01666667%, rgba(255,255,255,.803) 97.69916667%, rgba(255,255,255,.883) 98.35166667%, rgba(255,255,255,.945) 98.96083333%, rgba(255,255,255,.986) 99.515%, #ffffff), linear-gradient(0deg, #ffffff 0, #ffffff 10.74074074%, rgba(255,255,255,.986) 11.81851852%, rgba(255,255,255,.945) 13.05%, rgba(255,255,255,.883) 14.4037037%, rgba(255,255,255,.803) 15.8537037%, rgba(255,255,255,.711) 17.37037037%, rgba(255,255,255,.61) 18.92407407%, rgba(255,255,255,.504) 20.48703703%, rgba(255,255,255,.398) 22.02962963%, rgba(255,255,255,.296) 23.52407407%, rgba(255,255,255,.203) 24.94074074%, rgba(255,255,255,.122) 26.25%, rgba(255,255,255,.059) 27.42592592%, rgba(255,255,255,.016) 28.43888889%, rgba(255,255,255,0) 29.25925926%), linear-gradient(to bottom, #3338, #fff0), url(/sitefiles/1/gqusa.webp) center center no-repeat;
	background: linear-gradient(to bottom, #3338, #fff0), url(/sitefiles/1/gqstyletest4.jpg) top center no-repeat;
	ffill: linear-gradient(0deg, #ffffff 0, #ffffff 21.48148148%, rgba(255,255,255,.986) 23.63703704%, rgba(255,255,255,.945) 26.1%, rgba(255,255,255,.883) 28.80740741%, rgba(255,255,255,.803) 31.70740741%, rgba(255,255,255,.711) 34.74074074%, rgba(255,255,255,.61) 37.84814815%, rgba(255,255,255,.504) 40.97407407%, rgba(255,255,255,.398) 44.05925926%, rgba(255,255,255,.296) 47.04814815%, rgba(255,255,255,.203) 49.88148148%, rgba(255,255,255,.122) 52.5%, rgba(255,255,255,.059) 54.85185185%, rgba(255,255,255,.016) 56.87777778%, rgba(255,255,255,0) 58.51851852%),;
	background-size: cover;
	padding-top: 30vh;
	margin-bottom: 4rem;
	ftext-shadow: 0 3px 1px #444;
	padding-bottom: 3rem;
}

article p:nth-last-child(2)::after
{
	content: "\2588";
	color: #0c0;
}

/*article p:nth-last-child(2)::after
{
	content: " ";
	display: block;
	height: 2rem;*/ /* Use responsive units as per your preference */
	/*width: 100%;
	color: #0c0;
}*/

article h2, article h3
{
	font-weight: bold;
	font-size: 5vh;
	padding-bottom: 0.2rem;
	padding-top: 1rem;
	font-family: system-ui, sans-serif;
}

i, em
{
	font-style: italic;
}

b, strong
{
	font-weight: bolder;
}

p
{
	margin-bottom: 1rem;
}

ul
{
	list-style:circle;
}

ul li
{
	margin-bottom: 1rem;
}

article .infobox ul
{
	margin-left: 1rem;
}

footer
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1rem 0rem;
	color: #0c0;
	background-color: #333;
	font-family: system-ui, sans-serif;
}

.footer-col ul
{
	list-style: none;
}

.footer-col
{
	flex: 1;
	min-width: calc(25% - 1rem); /* 25% width minus 1rem for margin */
	margin: 0.5rem;
}

	.footer-col:first-child
	{
		flex: 2;
		min-width: calc(50% - 1rem); /* 50% width minus 1rem for margin */
		font-size: 2rem;
		font-weight: bold;
		line-height: 2.5rem;
		background: url(/sitefiles/1/footer.png) top left no-repeat;
		background-size: contain;
		margin-left: 0;
		padding-left: 5rem;
		letter-spacing: -.1rem;
	}

ffooter
{
	line-height: 3rem;
}

ffooter a
{
	margin-right: 1rem;
}

table
{
	width: 100%;
	border-collapse: collapse;
	margin: 1.25rem 0;
	font-size: 1rem;
	text-align: left;
}

th
{
	background-color: #f2f2f2; /* Light grey */
	color: #333; /* Dark text */
	font-weight: bold;
	padding: 0.625rem 0.9375rem; /* 10px = 0.625rem, 15px = 0.9375rem given base font-size of 16px */
	border-bottom: 0.125rem solid #ddd; /* Lighter grey border */
}

tr
{
	border-bottom: 0.0625rem solid #eee; /* Very light grey border */
}

	tr:nth-child(even)
	{
		background-color: #f7f7f7; /* Zebra-striping for better readability */
	}

td
{
	padding: 0.625rem 0.9375rem;
	vertical-align: top;
}

/* Hover effect for table rows for better UX */
tr:hover
{
	background-color: #e6e6e6; /* Slightly dark on hover */
}

.logo
{
	fpadding-left: 10rem;
	color: #3f1;
	filter: drop-shadow(0 .15rem 1px rgb(4 4 4 / 0.4));
	letter-spacing: -0.18rem;
	text-decoration: none;
	font-size: 5vh;
	font-weight: bold;
	font-family: Geneva, sans-serif;
	font-size: 6vh;
}

	.logo svg
	{
		margin-top: -10px;
	}

	.logo span
	{
		visibility: hidden;
		display: none;
	}

/* Apply float on larger screens */
@media (min-width: 768px)
{ /* Adjust the breakpoint as needed */
	/*.infobox
	{
		float: right;
		width: 25%;
		margin-left: 20px;
	}

	article > p
	{
		margin-right: 30%;*/ /* Adjust as needed */
	/*}*/

	article aside, article p
	{
		margin-right: 8rem;
	}

	article p, article h2, article h3, article h4, article h5, article h6, article ul
	{
		margin-left: 8rem;
	}

	article aside
	{
		float: right;
		clear: right;
		width: 15rem;
	}

	article img
	{
		float: right;
		clear: right;
		width: 15rem;
		margin-left: 2rem;
		margin-bottom: 2rem;
	}

	article h1
	{
		font-size: 5rem;
		padding-bottom: 3rem;
	}

	.logo span
	{
		visibility: visible;
		display: unset;
	}

	html
	{
		font-size: 21px;
	}
}

.input-wrapper
{
	position: relative;
}

	.input-wrapper input
	{
		fborder: 1px solid gray;
		fborder-radius: 6px;
		position: relative;
		width: 200px;
		fmargin: 10px;
		fline-height: 6ex;
	}

	.input-wrapper label
	{
		transition: opacity 0.2s ease;
		opacity: 0;
	}

input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder, input[type="tel"]::placeholder
{
	transition: opacity 0.2s ease;
}

input[type="text"]:focus::placeholder, input[type="password"]:focus::placeholder, input[type="email"]:focus::placeholder, input[type="tel"]:focus::placeholder
{
	opacity: 0;
}

.input-wrapper:focus-within label
{
	fvisibility: visible;
	opacity: 1;
}

.input-wrapper label
{
	fvisibility: hidden;
	position: absolute;
	top: -0.7rem;
	font-size: 1rem;
	z-index: 1;
	left: 2rem;
	background-color: white;
	padding: 0 2px;
	color: black;
	color: #bbb;
}

input[type=text], input[type=password], input[type=email]
{
	font-family: sans-serif;
}

label, input[type=button], input[type=submit], button
{
	font-weight: bold;
	font-size: 1.5rem;
	font-family: sans-serif;
}

input[type=button], input[type=submit], button
{
	border-radius: .75rem;
	padding: 0.5rem 1.5rem;
}

.button
{
	transition: all ease 0.1s;
	border: 0.3rem solid #000;
}

.primary-button
{
	background: lightgreen;
	font-weight: bold;
	color: black;
	border-color: lightgreen;
}

	.primary-button:hover
	{
		background: #fff;
	}

	.primary-button::after
	{
		content: "→";
	}

	.primary-button:hover::after
	{
		content: "⇒";
	}

.secondary-button
{
	font-weight: normal;
	border-color: #eee;
	color: #777;
	background: #eee;
}

	.secondary-button:hover
	{
		border-color: #eee;
		background-color: #fff;
	}

	.secondary-button::before
	{
		content: "←";
	}

	.secondary-button:hover::before
	{
		content: "⇐";
	}

.twobuttons
{
	display: flex;
	justify-content: space-between;
}

/* Device does not support hover (e.g. touchscreen) */
@media (hover: none)
{
	.image-title
	{
		opacity: 1;
	}
}

article > p
{
	font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
	font-size: 1rem;
	line-height: 1.6;
}

article > p a
{
	text-decoration: none;
	border-bottom: 5px solid #0c0;
}

header
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

nav
{
	display: flex;
	width: 100%;
	max-width: 1200px;
	padding: 15px;
	justify-content: space-between;
	align-items: center;
}

nav ul
{
	list-style: none;
}

.nav-left, .nav-right
{
	display: flex;
	gap: 15px;
}

.logo-svg
{
	transform: rotate(-15deg);
	max-height: 3rem;
}

.btn
{
	box-shadow: 3px 4px 0px 1px #000;
}

.btn-primary
{
	margin-right: 0;
	color: #fff;
	background-color: #0c0f;
	border-color: #070;
	border-width: 1px;
	border-style: solid !important;
	padding: .2rem .5rem;
	font-weight: bold;
	font-size: .9rem;
	margin-right: 0;
	margin-left: auto;
	display: inline !important;
	border-radius: 0.2rem;
	font-family: system-ui, sans-serif;
	text-decoration: none;
}

	.btn-primary#register
	{
		color: #fff;
		background-color: #0c0f;
		border-color: #3f3;
		transition: all 0.25s ease;
		border-color: #0c0f;
	}

		.btn-primary#register:hover
		{
			color: #000;
			background-color: #ffff;
			border-color: #fff;
			transition: all 0.25s ease;
		}

	.btn-primary#login:hover
	{
		color: #000;
		background-color: #ffff;
		border-color: #3f3;
		transition: all 0.25s ease;
	}


.categories
{
	margin-left: 8rem;
}

	.categories li
	{
		padding: 0.5rem 1rem;
		font-weight: bolder;
		border: 2px solid #0c0;
		border-radius: 0.2rem;
		line-height: 20px;
		bbackground-color: #eef;
		fmargin: 4px 4px;
		margin-right: 0.5rem;
		list-style: none;
		display: inline-block;
		bborder-left: 9px solid #222;
		box-shadow: 3px 4px 0px 1px #000;
	}

	.categories li a
	{
		text-transform: uppercase;
		text-decoration: none;
		
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

input[type=text], input[type=email], input[type=tel], input[type=password], select
{
	fmargin: auto;
	display: block;
	outline: none;
	fpadding: calc((3rem - (1rem * 1.5) - (0.125rem * 2)) / 2) calc(1rem * 1.5);
	padding: 0.5rem 1rem;
	font-size: 1.5rem !important;
	border-radius: .75rem;
	width: 25rem;
	font-weight: bold;
	border-style: solid;
	border-width: 0.3rem;
	border-color: lightgreen;
	background-repeat: no-repeat;
	background-position: .9rem 1.2rem; /* Adjust this to move the icon */
	background-size: 2rem; /* Size of the icon */
}

	input[type=text]::placeholder, input[type=email]::placeholder, input[type=tel]::placeholder, input[type=password]::placeholder
	{ /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: #bbb;
	}

/*body
{
	color: var(--gray-dark);
	font-family: "Barlow", sans-serif;
	font-size: 18px;
	margin: 1.5rem 1.5rem 3rem 1.5rem;
}*/
/*
@media screen and (min-width: 30em)
{
	body
	{
		margin: 2rem 2rem 4rem 2rem;
	}
}

p
{
	margin: 0;
}

small
{
	font-size: 1em;
}

a
{
	color: #3477db;
	-webkit-text-decoration-skip: ink;
	text-decoration-skip: ink;
}

	a:focus, a:hover
	{
		color: #1e90ff;
		text-decoration: none;
	}

	a:active
	{
		color: #1f3a93;
	}
*/
abbr[title]
{
	border-bottom: 1px dotted;
	cursor: help;
	text-decoration: none;
}

.disclosure
{
	margin-bottom: 2em;
}

.download-container
{
	padding: .5rem .5rem;
	display: flex;
	align-items: flex-start; /* Align to the top */
	ffont-size: 1rem; /* Set the font size here */
	line-height: 1.5rem;
	font-family: sans-serif;
}

.dicon
{
	width: 2.5em; /* Adjust the icon size relative to the font size */
	height: 1.5em;
	margin-right: 0.5em; /* Space between icon and text */
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 15V16.2C21 17.8802 21 18.7202 20.673 19.362C20.3854 19.9265 19.9265 20.3854 19.362 20.673C18.7202 21 17.8802 21 16.2 21H7.8C6.11984 21 5.27976 21 4.63803 20.673C4.07354 20.3854 3.6146 19.9265 3.32698 19.362C3 18.7202 3 17.8802 3 16.2V15M17 10L12 15M12 15L7 10M12 15V3' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
	background-repeat: no-repeat no-repeat;
	background-position: center center;
	background-size: cover;
}

.download-description
{
	font-size: 60%;
}

.download-filesize
{
	display: flex;
	align-items: center;
}

	.download-filesize::before
	{
		content: "";
		width: 1.5em;
		height: 1.5em;
		margin-right: 0.5em;
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='800px' height='800px' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' fill='none' width='20' height='20'/%3E%3Cg%3E%3Cstyle%3E.st0%7Bfill-rule:evenodd;clip-rule:evenodd;%7D%3C/style%3E%3Cpath d='M5.8 14H5v1h.8c.3 0 .5-.2.5-.5s-.2-.5-.5-.5zM11 2H3v16h13V7l-5-5zM7.2 14.6c0 .8-.6 1.4-1.4 1.4H5v1H4v-4h1.8c.8 0 1.4.6 1.4 1.4v.2zm4.1.5c0 1-.8 1.9-1.9 1.9H8v-4h1.4c1 0 1.9.8 1.9 1.9v.2zM15 14h-2v1h1.5v1H13v1h-1v-4h3v1zm0-2H4V3h7v4h4v5zm-5.6 2H9v2h.4c.6 0 1-.4 1-1s-.5-1-1-1z'/%3E%3C/g%3E%3C/svg%3E");
		background-repeat: no-repeat no-repeat;
		background-position: center center;
		background-size: cover;
		display: inline-block;
	}

.dinfo
{
	display: flex;
	flex-direction: column; /* Stack the text vertically */
}

:root
{
	--gray-light: #d9d9d9;
	--gray-mid: #808080;
	--gray-dark: #333333;
	--icon-distance: 1.0rem;
}

a[download]
{
	font-size: 1.0rem;
	font-weight: 500;
	padding-left: var(--icon-distance);
}

	a[download]::before
	{
		content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/11907/download-icon-download.svg);
		display: inline-block;
		height: 2rem;
		position: relative;
		top: 0.75rem;
		right: var(--icon-distance);
		width: 2rem;
	}

	a[download][href$=".mov"]::before
	{
		content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/11907/download-icon-movie.svg);
	}

	a[download][href$=".m4a"]::before
	{
		content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/11907/download-icon-podcast.svg);
	}

	a[download][href$=".pdf"]::before
	{
		content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/11907/download-icon-manual.svg);
	}

	a[download][href$=".mp3"]::before
	{
		content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/11907/download-icon-music.svg);
	}

	a[download][href$=".zip"]::before
	{
		content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/11907/download-icon-zip.svg);
	}

	a[download][href$=".txt"]::before
	{
		content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/11907/download-icon-script.svg);
	}

	a[download][href$=".stl"]::before
	{
		content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/11907/download-icon-3d.svg);
	}

	a[download][href$=".docx"]::before
	{
		content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/11907/download-icon-documentation.svg);
	}


@media screen and (min-width: 30em)
{
	.rewards
	{
		font-family: sans-serif;
		ffont-size: .5rem;
		border: 1px solid var(--gray-light);
		border-radius: 0.75rem;
		padding: 1.2rem 1.2rem;
	}


		.rewards
		{
			display: grid;
			grid-template-columns: repeat(auto-fill, 1fr);
			grid-auto-rows: minmax(5rem, auto);
			grid-gap: 2rem;
		}

}

.download
{
	margin-top: 2rem;
}

@media screen and (min-width: 30em)
{

		.download
		{
			margin-top: 0;
		}
}

.download__instructions
{
	color: var(--gray-dark);
	line-height: 1.3;
	padding-top: 0.4rem;
	padding-left: 3.6rem;
}

.download__properties
{
	color: var(--gray-mid);
	display: block;
	font-size: 60%;
	text-transform: uppercase;
	margin-top: 0.65em;
}

.sr-only
{
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.download p
{ 
margin:0;

}