@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item loggedin">
        <a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item loggedin">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
            <button  type="submit" class="nav-link btn btn-link">Logout</button>
        </form>
    </li>
}
else
{
        <li class="nav-item">
            <a id="login" class="nav-link btn btn-primary" type="button" role="button" asp-area="Identity" asp-page="/Account/Login">@Localizer["LoginRegister"]</a>
        </li>
@* 
    <li class="nav-item">
            <a id="register" class="nav-link btn btn-primary" type="button" role="button" asp-area="Identity" asp-page="/Account/Register">@Localizer["Register"]</a>
    </li> *@
}
</ul>
