@page
@model ArticleModel
@{
    ViewData["Title"] = Model.ArticleTitle;
}

<h1>@Model.ArticleTitle</h1>
<p>@Html.Raw(Model.ArticleText)</p>
<p><a href="/@Model.UrlSlug/edit">Edit Article</a></p>
<p><a href="/@Model.UrlSlug/history">View Edit History</a></p>
<p><a href="/@Model.UrlSlug/talk">Talk</a></p>
