@page
@model ArticleModel
@{
	ViewData["Title"] = Model.ArticleTitle;
}

<h1>@Model.ArticleTitle</h1>
<p>@Html.Raw(Model.ArticleText)</p>

@if (Model.ArticleLanguageLinks != null)
{
	foreach (var ArticleLanguageLink in Model.ArticleLanguageLinks)
	{
		string Url = $"https://{ArticleLanguageLink.Language}.localhost:7062/{ArticleLanguageLink.ArticleUrlSlug}";

		if (ArticleLanguageLink.Language != Model.Language)
		{
			<p><a href="@Url">@ArticleLanguageLink.ArticleTitle</a></p>
		}
	}
}

<p><a href="/@Model.UrlSlug/edit">Edit Article</a></p>
<p><a href="/@Model.UrlSlug/history">View Edit History</a></p>
<p><a href="/@Model.UrlSlug/talk">Talk</a></p>
