@page
@using Microsoft.AspNetCore.Http;
@model Magazedia.Web.Pages.CultureSelectModel
@inject IHttpContextAccessor HttpContextAccessor;
@{
	HostString Hostname = HttpContextAccessor.HttpContext!.Request.Host;
}
<article>
	<h1>Select Culture:</h1>
	<p><a href="https://en.@Helpers.GetDomainAndPortFromHostname(Hostname.ToString())/">English</a></p>
	<p><a href="https://ja.@Helpers.GetDomainAndPortFromHostname(Hostname.ToString())/">日本語</a></p>
	<p><a href="https://ar.@Helpers.GetDomainAndPortFromHostname(Hostname.ToString())/">العربية</a></p>
</article>