@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Magazedia.Web.Pages.DbHelperModel
@{
}
<h1>DbHelper</h1>

<form method="post">
	<input asp-for="ArticleTitle" />
	<input asp-for="ArticleUrlSlug" />
	<input asp-for="IsMagazine" />IsMag
	<br />
	<textarea asp-for="ArticleText" style="height:300px; width:300px;"></textarea>
	<br />
	<input type="submit" />
	<br />
</form>