@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Magazedia.Web.Pages.DbHelperModel
@{
}
<article>
<h1 class="title">DbHelper</h1>

<form id="dbhelper" method="post">
	<input asp-for="ArticleTitle" />
	<input asp-for="ArticleUrlSlug" />
	<input style="" asp-for="IsMagazine" checked />IsMag
	<br />
	<textarea asp-for="ArticleText" style="height:300px; width:300px;"></textarea>
	<br />
	<textarea asp-for="ArticleMetaDesc" style="height:100px; width:300px;"></textarea>
	<br />
	<input type="submit" />
	<br />
</form>
</article>