@page
@model Magazedia.Web.Pages.DmcaModel
@{
}
<h1>DMCA</h1>
<p>If you believe there is content on this site which violates a copyright you own, please contact us: dmca@magspedia.com</p>
<p>Include your name, the name of the copyright holder that you represent, the URL of the content you believe violates the DMCA, a comprehensive explanation of both how and why you believe the content violates the DMCA, the original copyright date of the material, and what type of copyright length applies to the material.</p>