@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model HistoryModel
@{
	ViewData["Title"] = "Revision history: " + Model.ArticleTitle;
}

<h1>Revision history: @Model.ArticleTitle</h1>

<table class="table">
	<thead>
		<tr><th>When</th><th>Reason</th><th>Username</th></tr>
	</thead>
	<tbody>
		@if (Model.Articles != null)
		{
			foreach (var Article in Model.Articles)
			{
				<tr>
					<td><a href="/@Article.UrlSlug/revision/@Article.Id">@Article.DateCreated</a></td>
					<td>@Article.RevisionReason</td>
					<td>
						<a href="/@@@Article.CreatedByAspNetUsername">@Article.CreatedByAspNetUsername</a>
					</td>
				</tr>
			}
		}
	</tbody>
</table>
