@page
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<IndexModel> stringLocalizer;
@inject IHtmlLocalizer<IndexModel> htmlLocalizer;
@inject IHttpContextAccessor HttpContextAccessor;
@model IndexModel
@{
	ViewData["Title"] = "Home";
}
<div class="text-center">
	<h1 class="display-4">Welcome!</h1>

	@{
		if (Model.Articles != null)
		{
			foreach (var Article in Model.Articles)
			{
				<p><a href="@Article.UrlSlug">@Article.Title</a></p>
			}
		}
	}

	<p> <a href="/firehose:">View the Firehose</a></p>
	<p> <a href="/DbHelper">DbHelper</a></p>
</div>
