@page
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<IndexModel> stringLocalizer;
@inject IHtmlLocalizer<IndexModel> htmlLocalizer;
@inject IHttpContextAccessor HttpContextAccessor;
@model IndexModel
@{
	ViewData["Title"] = "Home";
}
<div class="text-center">
	<h1 class="display-4">Welcome!</h1>
	<ul class="row maglist">
		@{
			if (Model.Articles != null)
			{
				foreach (var Article in Model.Articles)
				{
					<li class="col-12 col-sm-6 col-md-4 col-lg-3"><a href="/@Article.UrlSlug">@Article.Title</a></li>
				}
			}
		}
	</ul>
	<div class="container">

		<h1 class="title">masonry image gallery</h1>

		<div class="image-container">
			<img src="/files/a/0othumb.jpg" />
			<img src="/files/a/1othumb.jpg" />
			<img src="/files/a/2othumb.jpg" />
			<img src="/files/a/3othumb.jpg" />
			<img src="/files/a/4othumb.jpg" />
			<img src="/files/a/5othumb.jpg" />
			<img src="/files/a/6othumb.jpg" />
			<img src="/files/a/7othumb.jpg" />
			<img src="/files/a/8othumb.jpg" />
			<img src="/files/a/9othumb.jpg" />
		</div>
	</div>
	@Html.Raw(Model.ArticleText)
	<p> <a href="/firehose:">View the Firehose</a></p>
</div>
