@page
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<IndexModel> stringLocalizer;
@inject IHtmlLocalizer<IndexModel> htmlLocalizer;
@inject IHttpContextAccessor HttpContextAccessor;
@model IndexModel
@{
	ViewData["Title"] = "Home";
}
<div class="text-center home">
	<h1 class="display-4">Welcome!</h1>
	<ul class="row maglist">
		@{
			if (Model.Articles != null)
			{
				foreach (var Article in Model.Articles)
				{
					<li class="col-12 col-sm-6 col-md-4 col-lg-3"><a href="/@Article.UrlSlug">@Article.Title</a></li>
				}
			}
		}
	</ul>

    <div class="container">
        <h1 class="title">Masonry image gallery</h1>
        <div class="image-container">
            <div class="img-wrapper">
                <a href="#">
                    <img src="/files/a/0othumb.jpg" />
                    <div class="image-title">Image 1</div>
                </a>
            </div>
            <div class="img-wrapper">
                <a href="#">
                    <img src="/files/a/1othumb.jpg" />
                    <div class="image-title">Image 2</div>
                </a>
            </div>
            <div class="img-wrapper">
                <a href="#">
                    <img src="/files/a/2othumb.jpg" />
                    <div class="image-title">Image 3</div>
                </a>
            </div>
            <div class="img-wrapper">
                <a href="#">
                    <img src="/files/a/3othumb.jpg" />
                    <div class="image-title">Image 4</div>
                </a>
            </div>
            <div class="img-wrapper">
                <a href="#">
                    <img src="/files/a/4othumb.jpg" />
                    <div class="image-title">Image 5</div>
                </a>
            </div>
            <div class="img-wrapper">
                <a href="#">
                    <img src="/files/a/5othumb.jpg" />
                    <div class="image-title">Image 6</div>
                </a>
            </div>
            <div class="img-wrapper">
                <a href="#">
                    <img src="/files/a/6othumb.jpg" />
                    <div class="image-title">Image 7</div>
                </a>
            </div>
            <div class="img-wrapper">
                <a href="#">
                    <img src="/files/a/7othumb.jpg" />
                    <div class="image-title">Image 8</div>
                </a>
            </div>
            <div class="img-wrapper">
                <a href="#">
                    <img src="/files/a/8othumb.jpg" />
                    <div class="image-title">Image 9</div>
                </a>
            </div>
            <div class="img-wrapper">
                <a href="#">
                    <img src="/files/a/9othumb.jpg" />
                    <div class="image-title">Image 10</div>
                </a>
            </div>
        </div>
    </div>


	@Html.Raw(Model.ArticleText)
	<p> <a href="/firehose:">View the Firehose</a></p>
</div>
