@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="gq-usa-november-2020">GQ (USA) November 2020</a></p>
</div>
