@page
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<IndexModel> stringLocalizer;
@inject IHtmlLocalizer<IndexModel> htmlLocalizer;
@inject IHttpContextAccessor HttpContextAccessor;
@model IndexModel
@{
	ViewData["Title"] = "Home";
}
<article>
<h1>Magazines</h1>
</article>
<div class="text-center home">
	<div class="container">
		<div class="image-container">
			@{
				if (Model.MostRecentlyUpdatedMagazineArticles != null)
				{
					foreach (IndexModel.MostRecentlyUpdatedMagazineArticle Article in Model.MostRecentlyUpdatedMagazineArticles)
					{
						<div class="img-wrapper">
							<a href="/@Article.UrlSlug">
								<img src="/sitefiles/1/images/@Article.PrimaryArticleImageUrl" loading="lazy" />
								<div class="image-title">@Article.Title</div>
							</a>
						</div>
					}
				}
			}
		</div>
	</div>

	<h2>Magazine Issues</h2>

	<div class="container">
		<div class="image-container">
			@{
				if (Model.MostRecentlyUpdatedMagazineIssueArticles != null)
				{
					foreach (IndexModel.MostRecentlyUpdatedMagazineArticle Article in Model.MostRecentlyUpdatedMagazineIssueArticles)
					{
						<div class="img-wrapper">
							<a href="/@Article.UrlSlug">
								<img src="/sitefiles/1/@Article.PrimaryArticleImageUrl" />
								<div class="image-title">@Article.Title</div>
							</a>
						</div>
					}
				}
			}
		</div>
	</div>

	<p> <a href="/firehose:">View the Firehose</a></p>
</div>
