@page
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<IndexModel> stringLocalizer;
@inject IHtmlLocalizer<IndexModel> htmlLocalizer;
@inject IHttpContextAccessor HttpContextAccessor;
@model IndexModel
@{
	ViewData["Title"] = "Home";
}
<div class="text-center">
	<h1 class="display-4">Welcome!</h1>
	<ul class="row maglist">
		@{
			if (Model.Articles != null)
			{
				foreach (var Article in Model.Articles)
				{
					<li class="col-12 col-sm-6 col-md-4 col-lg-3"><a href="/@Article.UrlSlug">@Article.Title</a></li>
				}
			}
		}
	</ul>
	<p> <a href="/firehose:">View the Firehose</a></p>
</div>
