@page
@model Magazedia.Web.Pages.TalkModel
@{
	ViewData["Title"] = "Talk: " + Model.Article!.Title;
}
<article>
<h1>Talk: @Model.Article.Title</h1>


@if (Model.ArticleTalkSubjects != null)
{
	<table class="table">
		<thead>
			<tr><th>Subject</th><th>Username</th><th>When</th></tr>
		</thead>
		<tbody>
			@foreach (WikiWikiWorld.Models.ArticleTalkSubject ArticleTalkSubject in Model.ArticleTalkSubjects)
			{
			<tr>
				<td><a href="/@Model.UrlSlug/talk/@ArticleTalkSubject.UrlSlug">@ArticleTalkSubject.Subject</a></td>
				<td>@ArticleTalkSubject.CreatedByAspNetUsername</td>
				<td>@ArticleTalkSubject.DateCreated</td>
			</tr>
			}
		</tbody>
	</table>
}
</article>